#react-qa-plugin-map {
  .ant-btn {
    height: 36px;
    width: 60px;
    margin-left: 10px;
    border-color: #f56648;
    background: #f56648;
    i {
      color: white;
    }
    &:hover {
      border-color: #f56648;
      background: white;
      i {
        color: #f56648;
      }
    }
  }
}